
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: "Inter", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #ffffff;
  margin: 0;
  color: #111827;
}

/* Serif for main header - optional if you include the font */
h1, .left h1 {
  font-family: 'Merriweather', serif;
}

/* container width is set in app.component.scss */
