.container {
  padding: 32px;
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.left h1{
  margin:0;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 700;
}
.subtitle {
  color: rgba(0,0,0,0.6);
  margin-top:4px;
}
.new-task {
  min-width: 140px;
  height: 40px;
}
